.bigDiv{
    display: flex;
    flex-wrap: wrap;
}

.header{
    display: flex;
    justify-content: center;
    border: 1px solid lightblue;
}
.productCard{
    width: 32%;
    border: 1px solid lightblue;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 10px 5px 5px gray;
}
.size{
    text-indent: 2%;
}
.weight{
    text-indent: 2%;
}
.SizeWeight{
    list-style: none;
    margin-top: -20px;
}
.avail{
    background-color: gray;
    color: yellow;
    margin-top: -10px;
}
.pricingClass{
    list-style: none;
    margin-top: -20px;
}
.pic{
    margin: 20px 20px;
}
.topThirdOfCard{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.pricingHeader{
    margin-top: -20px;
}
.specsHeader{
    margin-top:-20px;
}
.specsFooter{
    margin-top: -20px;
    font-size: 70%;
}